.btn {
  color: $corp-brown;
  background: none;
  font-size: 16px;
  width: 200px;
  height: 50px;
  border: 1px solid $corp-brown;
  cursor: pointer;
  font-family: "Euclid Square", "Arial", sans-serif;
}

.btn:hover {
  background-color: $corp-brown;
  color: $white;
  transition: all 0.5s;
}

.btn--intro {
  background-color: $corp-brown;
  color: $white;
  font-size: 20px;
  width: 300px;
  height: 60px;
  border: transparent;

  &:hover {
    background-color: $dark-brown;
  }
}

.btn--wide {
  width: 100%;
  border: none;
  border-top: 1px solid $corp-brown;
  &:hover {
    background-color: $dark-brown;
  }
}
