.callback {
  padding: 100px 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/callback-bg.jpg");
  background-size: cover;
}

.callback__offer {
  padding: 100px;
  order: 1;
  color: $white;
}

.callback__wrapper {
  @include wrapper;
  display: flex;
}

.callback__title {
  @include section-title;
  margin: 0;
  padding-bottom: 50px;
}

.callback__subtitle {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
}
