.callback-form {
  padding: 50px;
  background: $white;
}

.callback-form__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 32px;
  margin: 0 0 25px;
}

.callback-form__form {
  display: flex;
  flex-direction: column;
}

.callback-form__field {
  padding: 5px;
  height: 40px;
  border: none;
  border-bottom: 1px solid $corp-brown;
  margin-bottom: 15px;
}

.callback-form__btn {
  margin-top: 10px;
}

.callback-form__privacy-info {
  font-size: 12px;

  a {
    color: $corp-brown;
  }
}
