.callback-btn {
  color: $corp-brown;
  font-size: 14px;
  width: 200px;
  height: 50px;
  border: 2px solid $corp-brown;
  background: none;
  cursor: pointer;
  font-family: "Euclid Square", "Arial", sans-serif;

  &:hover {
    transition: all 0.5s;
    transform: translateY(-10px);
  }
}
