.catalog {
  background-color: $grey-100;
}

.catalog__title {
  font-size: 50px;
  line-height: 60px;
}

.catalog__list {
  padding: 50px 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 590px 590px;
  gap: 20px;
  justify-content: center;
}

.catalog__item {
  background-color: $white;
}

.catalog__item-wrap {
  padding: 15px 25px;
}

.catalog__item-info {
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  div {
    padding-right: 24px;
  }

  dd {
    margin: 0;
  }
}

.catalog__item-title {
  color: $corp-green;
  font-size: 25px;
  font-weight: bold;
}

.catalog__item-price {
  font-size: 20px;
}

.catalog__heading-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
