.catalog {
  background-color: $grey;
  padding-bottom: 25px;
  border-top: 1px solid $grey;
}

.catalog__title {
  @include section-title;
}

.catalog__list {
  padding-top: 25px;
  margin-right: auto;
  list-style: none;
  display: grid;
  grid-template-columns: 590px 590px;
  gap: 20px;
  justify-content: center;
}

.catalog__item {
  background-color: $white;
  display: flex;
  flex-direction: column;
}

.catalog__item-wrap {
  padding: 15px 25px 0;
}

.catalog__item-info {
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 25px;
}

.catalog__item-title {
  color: $dark-brown;
  font-weight: 500;
  font-size: 30px;
  margin: 0;
}

.catalog__item-price {
  font-size: 20px;
  font-weight: 500;
  margin: 0;

  span {
    font-size: 14px;
    font-weight: normal;
  }
}

.catalog__item-details {
  width: 50%;
  padding-right: 24px;
  margin-bottom: 20px;
}

.catalog__item-details dt {
  font-size: 13px;
  line-height: 18px;
  color: $grey;
  margin-bottom: 5px;
}

.catalog__item-details dd {
  margin-bottom: 20px;
  line-height: 20px;
  margin: 0;
}

.catalog__heading-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.catalog__item-btn {
  margin-top: auto;
}
