.cost {
  padding: 100px 0;
}

.cost__wrapper {
  padding: 25px;
  margin: 0 auto;
  width: 500px;
  box-shadow: -2px 4px 30px rgba(173, 86, 5, 0.13);
}

.cost__title {
  font-size: 25px;
  font-weight: bold;
}

.cost__subtitle {
  font-size: 18px;
  padding: 50px 0;
}

.cost__btn {
  width: 100%;
}
