.cost {
  padding: 25px 0 150px 0;
  background: url("../../img/cost-bg.jpg") center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
}

.cost__wrapper {
  padding: 25px;
  margin: 0 auto;
  width: 470px;
  box-shadow: -2px 4px 30px $corp-brown;
  padding: 60px;
  background: $white;
  position: relative;
}

.cost__title {
  font-weight: 500;
  font-size: 27px;
  line-height: 35px;
  margin: 100px 0 0;

  &::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background-image: url("../../img/calc.svg");
    top: 40px;
  }
}

.cost__subtitle {
  font-size: 18px;
  padding: 25px 0;
  margin: 0;
}

.cost__btn {
  width: 100%;
}
