.features {
  @include wrapper;
  padding-top: 100px;
}

.features__title {
  font-size: 40px;
  line-height: 60px;
  margin: 0;
}

.features__list {
  margin: -130px 0 0 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    ". . a a a a"
    "d d e e f f"
    "b b b c c c";
}

.features__item {
  padding: 20px;
  border: 1px solid $black;

  &:first-child {
    grid-area: a;
    border-bottom: none;
  }
  &:nth-child(2) {
    grid-area: b;
    border-right: none;
    border-top: none;
  }
  &:nth-child(3) {
    grid-area: c;
    border-top: none;
  }
  &:nth-child(4) {
    grid-area: d;
  }
  &:nth-child(5) {
    grid-area: e;
    border-right: none;
    border-left: none;
  }
  &:last-child {
    grid-area: f;
  }
}
