.filter {
  background-color: white;
}

.filter__wrapper {
  @include wrapper;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.filter__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter__item {
  margin-right: 25px;
  font-size: 15px;
  line-height: 20px;
}
