.intro {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/main-bg.jpg");
  background-size: cover;
  background-position-y: 40%;
  color: $white;
}

.intro__wrapper {
  @include wrapper;
  display: flex;
  flex-basis: 50%;
  padding: 100px 50px;
}

.intro__text {
  width: 50%;
}

.intro__slogan {
  font-size: 65px;
  line-height: 70px;
  font-weight: 500;
  margin: 0;
}

.intro__description {
  font-size: 22px;
  line-height: 30px;
  margin: 50px 0;
}
