.page-footer {
  @include wrapper;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  background-color: $dark-brown;
  padding: 25px;
}

.page-footer__privacy,
.page-footer__copyright,
.page-footer__phone-link {
  color: $white;

  &:hover {
    color: $grey;
  }
}

.page-footer__copyright {
  text-align: right;
}

.page-footer__phone-link {
  font-weight: 500;
  line-height: 40px;
  font-size: 20px;
}
.page-footer__inner-wrap {
  display: flex;
  flex-direction: column;
}
