.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  line-height: 20px;
}

.page-header__slogan {
  color: $corp-green;
  font-size: 13px;
}

.page-header__address {
  font-size: 13px;
  line-height: 19px;
}

.page-header__phone-link {
  color: $black;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    color: $corp-green;
    transition: all 0.5s;
  }
}
