.workflow {
  padding: 0 0 50px;
  clip-path: polygon(0% 30%, 100% 0, 100% 100%, 0% 100%);
  background-color: $grey;
}

.workflow__wrapper {
  @include wrapper;
}

.workflow__title {
  @include section-title;
  padding: 100px 0 25px;
  margin: 0;
  text-align: right;
}

.workflow__list {
  padding: 200px 0 0 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.workflow__item {
  position: relative;
  width: 15%;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  &::before {
    position: absolute;
    content: "";
    width: 128px;
    height: 128px;
    top: -140px;
    left: 25px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::after {
    position: absolute;
    top: -125px;
    font-size: 140px;
    left: -15px;
    z-index: -1;
    color: $blue-transparent;
  }

  &--measurement::before {
    background-image: url("../../img/measurement.svg");
    top: -150px;
  }
  &--measurement::after {
    content: "1";
    left: 0;
  }

  &--design::before {
    background-image: url("../../img/3d.svg");
  }
  &--design::after {
    content: "2";
  }

  &--payment::before {
    background-image: url("../../img/payment.svg");
  }
  &--payment::after {
    content: "3";
  }

  &--production::before {
    background-image: url("../../img/production.svg");
  }
  &--production::after {
    content: "4";
  }

  &--install::before {
    background-image: url("../../img/install.svg");
    background-size: 80%;
    top: -125px;
  }

  &--install::after {
    content: "5";
  }
}

.workflow__item-title {
  margin: 0;
}

.workflow__btn {
  display: block;
  margin: 50px auto;
}
