.workflow {
  @include wrapper;
  padding: 0 0 25px;
}

.workflow__title {
  @include section-title;
  padding: 0;
  margin: -100px 0 0;
}

.workflow__list {
  padding: 200px 0 0 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.workflow__item {
  position: relative;
  width: 15%;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  &::before {
    position: absolute;
    content: "";
    width: 128px;
    height: 128px;
    top: -140px;
    left: 25px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--measurement::before {
    background-image: url("../../img/measurement.png");
    top: -150px;
  }

  &--design::before {
    background-image: url("../../img/design.png");
  }

  &--payment::before {
    background-image: url("../../img/payment.png");
  }

  &--production::before {
    background-image: url("../../img/production.png");
  }

  &--install::before {
    background-image: url("../../img/install.png");
    background-size: 80%;
    top: -125px;
  }
}

.workflow__item-title {
  margin: 0;
}

.workflow__btn {
  display: block;
  margin: 50px auto;
}
