$white: #ffffff;
$black: #000000;
$blue: #283645;
$blue-transparent: #28364536;

$corp-brown: #8e8268;
$dark-brown: #844d36;

$corp-brown2: #ecd9b7;

$corp-green: #0c7c4b;

$grey: #aaa0a0;

$modal-shadow: rgba(0, 1, 1, 0.15);

$breakpoint-small-only: 659px;
$breakpoint-before-large: 1199px;
$breakpoint-medium: 660px;
$breakpoint-large: 1200px;
